table {
    background: white;

    width: 100%;
    height: auto;

    margin-top: 10px;

    border-collapse: collapse; /* tr BORDER DOESN'T WORK WITHOUT THIS*/

}

h1 {
    margin: 0 auto;

    color: white;
}

.h2-table-title {
    margin: 0 auto;
    
    color: black;
    
}

tr {
    height: 60px;
    width: auto;
    border-bottom: 2px solid darkgoldenrod;
}

td {
    padding-left: 10px;
    
    font-size: 17px;
    font-weight: bold;
}
    #top-row {
        text-decoration: underline;
    }

.table-header {
    width: 100%;
    height: 45px;
    
    background: darkgoldenrod;
}

td a  {
    text-decoration: none;
    color: black;
}

td a:hover {
    color: darkorange;
}